@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');


.l {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  position: relative;
}

.l-header {
  padding: 20px;
    font-size: 28px;
    border-bottom: 1px solid #e5f2e3;
    font-weight: bold;
    text-align: center;
    color: #143601;
    font-family: 'Orbitron', sans-serif;
}

.l-header h1 {
  margin: 0;
  font-weight: bold;
  color: #113c10;
  font-size: 1.5rem;
}

.l-map-container {
  flex: 1;
  padding: 0;
  position: relative;
  padding-bottom: 70px;
}

.l-map-container iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0;
}

.l-voltar-footer {
  background-color: white;
  border-top: 1px solid #ccc;
  padding: 0.6rem;
  text-align: center;
}

.l-voltar-footer button {
  background-color: #ffffff;
  color: #113c10;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 0.6rem 2rem;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}