/* WP.css */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&display=swap');


.welcome-content {
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: #143601;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.title {
  margin-top: 100px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
  font-size: 45px;
  color: #ffffff;
  text-align: center;
}

.fundo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 350px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
}

.btn-wp {
  height: 81px;
  width: 81px;
  font-size: 45px;
  text-align: center;
  color: #143601;
  cursor: pointer;
  border-radius: 60px;
  border: 2px solid #143601;
  background-color: white;
}





